!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Sinatra Chat
    %link{href: "/css/style.css", rel: "stylesheet"}
  %body
    %header
      %h1 Sinatra Chat

    %main
      %form#chat-form
        .field
          %input#msg{type: "text", placeholder: "Type a message…", autocomplete: "off", required: true}
        %button#send{type: "submit"} Send
        %button#clear{type: "button"} Clear

      %table#chat
        %tbody

    %script{src: "/js/app.js"}
