!!!
%html{:lang => "en"}
  %head
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
  %body
    .navbar
      .navbar-inner
        .container
          .brand
            Sinatra Chat
    .container
      %form.form-stacked
        .form-actions
          .control-group
            %input#msg.input-xlarge{:placeholder => "Type something…", :type => "text"}
          %div
            %input#send.btn{:type => "submit", :value => "Send"}
            %input#clear.btn{:type => "button", :value => "Clear Chat"}
      %table#chat.table
        %tbody
          %tr
            %td
    %script{:src => "http://code.jquery.com/jquery-1.7.2.min.js"}
    %script{:src => "/js/bootstrap.js"}
    %script{:src => "/js/app.js"}